 

// Variables
$primary-color: #3498db;
$secondary-color: #2ecc71;
$font-family: 'Arial', sans-serif;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: clamp(16px, 2.5vw, 18px);
}