* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(16px, 2.5vw, 18px);
}

::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the track */
  border-radius: 10px; /* Rounded edges */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar */
  border-radius: 10px; /* Rounded edges */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when hovered */
}

.cont {
  padding: 10px;
  padding-top: 0;
}
.cont,
.cont .main-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.cont {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #f1f1f1;
}
.cont nav,
.cont main,
.cont footer {
  width: 100%;
  padding: 10px 25px;
}

.flex-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav {
  position: sticky;
  top: 0;
  align-self: flex-start;
  background-color: #f1f1f1;
}
.nav .nav-img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.nav .link-cont {
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-right: 2.5%;
  gap: 1rem;
}
.nav .link-cont .link-item {
  background-color: #3498db;
  width: clamp(100px, 10vw, 120px);
  height: 40px;
  text-align: center;
  border-radius: 25px;
}
.nav .link-cont .link-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 200;
  border-radius: 25px;
}
.nav .link-cont .link-item a:hover {
  background-color: rgb(33.1380753138, 125.1882845188, 186.8619246862);
}
.nav .link-cont .link-item a:active {
  background-color: rgb(95.3179916318, 173.9790794979, 226.6820083682);
}
.nav .authencator-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
}
.nav .authencator-cont .authencator-item {
  width: clamp(50px, 10vw, 80px);
  height: 40px;
  border-radius: 25px;
}
.nav .authencator-cont .authencator-item a {
  display: flex;
  justify-content: center;
  align-items: end;
  text-align: end;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 200;
  color: #2ecc71;
}
.nav .authencator-cont .authencator-item a:hover {
  text-decoration: underline;
}
.nav .authencator-cont .authencator-profile .profile-cont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.nav .authencator-cont .authencator-profile .profile-cont {
  text-decoration: none;
}
.nav .authencator-cont .authencator-profile .profile-cont .authencator-profile-img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
}
.nav .authencator-cont .authencator-profile .profile-cont .profile-heading {
  font-size: 1.1rem;
  font-weight: 200;
  color: black;
}

#button {
  display: none;
}

@media screen and (max-width: 900px) {
  #button {
    display: unset;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    height: 50%;
    align-self: center;
  }
  .nav {
    flex-wrap: wrap;
  }
  .nav .link-cont {
    display: none;
    transition: all 0.5s ease-in-out;
    margin: 50px 0 25px;
    width: 100%;
    flex-direction: column;
  }
  .nav .link-cont .link-item {
    width: 100%;
    padding: 10px 0;
  }
  .nav .show {
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    grid-auto-columns: 100%;
    gap: 1rem;
  }
  .nav .authencator-cont {
    display: none;
  }
}
.footer {
  align-self: flex-end;
  align-items: flex-end;
  margin-top: 2rem;
}
.footer .social-container {
  align-items: flex-end;
  gap: 25%;
}
.footer .social-container .social-item-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .social-container .social-item-cont .social-item {
  text-decoration: none;
  color: black;
  font-size: clamp(1rem, 5vw, 1.5rem);
  font-weight: 500;
}
.footer .social-container .social-item-cont img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.footer .social-container .social-item-cont h3 {
  font-size: 0.55rem;
  text-align: center;
  font-weight: 400;
}

.footer-copy {
  font-size: 0.75rem;
  margin-top: clamp(1rem, 5vw, 2rem);
  font-weight: 200;
  color: black;
  text-align: center;
}

.messages {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 0;
}
.messages li {
  background-color: #3498db;
  color: #fff;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.messages li:hover {
  opacity: 0.8;
  transform: translateY(-2px);
}

.hide {
  display: none;
}

/*# sourceMappingURL=template.css.map */
