{% extends 'game/base.html' %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static '/css/contact.css' %}">
{% endblock extra_css %}
    
    
{% block content %}
    <center>
        <h1>Over ons</h1>
        <p>
            Telefoonnummer: 06-51234987 <br>
            E-mailadres: info@bedrijfxyz.nl
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
            Numquam eos eaque officiis quibusdam doloribus repellat 
            accusamus eius voluptatum provident, saepe consectetur <br>
            nobis consequatur accusantium aliquid odio placeat, quisquam exercitationem facilis!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
            Numquam eos eaque officiis quibusdam doloribus repellat 
            accusamus eius voluptatum provident, saepe consectetur <br>
            nobis consequatur accusantium aliquid odio placeat, quisquam exercitationem facilis!
        </p>
    </center>
{% endblock %}