{% extends 'game/base.html' %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static '/css/faq.css' %}">
{% endblock extra_css %}



{% block content %}
<aside class="aside">
    <h2>FAQ</h2>
    <div class="vragen">
        <button type="button" class="collapsible">Wat voor soort games maken wij?</button>
        <div class="content">
            <p>Wij maken vooral games gericht voor meerdere leeftijdsgroeppen en genres. Zo hebben wij games voor kinderen, tieners en volwassenen. Ook hebben wij games in verschillende genres zoals actie, avontuur, horror, en nog veel meer.</p>
        </div>
        
        <button type="button" class="collapsible">Waar is ons bedrijf gevestigd ? </button>
        <div class="content">
            <p>Ons bedrijf is gevestigd in Nederland. Wij hebben een kantoor in Amsterdam en in Rotterdam. Ons hoofdkantoor is gevestigd in Amsterdam.</p>
        </div>
    
        <button type="button" class="collapsible">Hoe kan ik contact opnemen met ons bedrijf?</button>
        <div class="content">
            <p>U kunt contact opnemen met ons bedrijf door naar onze contact pagina te gaan en via deze communicatiemogelijkheden contact met ons op te nemen. U kunt ons ook bellen of mailen.</p>
        </div>
    
        <button type="button" class="collapsible">Ondersteunen jullie meerdere platformen op jullie games?</button>
        <div class="content">
            <p>Ja, wij ondersteunen meerdere platformen op onze games. Zo ondersteunen wij Windows, Playstation 5, Xbox Serie X en S</p>
        </div>
    </div>
</aside>

<script src="{% static '/js/faq.js' %}"></script>
{% endblock content %}