{% load static %}
  
<head>
  <title>ubisoft</title>
  <link rel="stylesheet" href="{% static '/css/template.css' %}">
  <link rel="stylesheet" href="{% static '/css/forms.css' %}">
</head>

<body>
  <div class="cont">
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <main class="main-cont">
      <h2>Sign up</h2>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          {{field}}
          {% for error in field.errors %}
            <p class="error">• {{ error }}</p>
          {% endfor %}
        {% endfor %}
    
        
        <button type="submit" class="form-btn">Sign Up</button>
    
        <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
      </form>
    </main>
  </div>
  <script src="{% static '/js/template.js' %}"></script>
</body>

  

{% comment %} Your password can’t be too similar to your other personal information.
Your password must contain at least 8 characters.
Your password can’t be a commonly used password.
Your password can’t be entirely numeric. {% endcomment %}